name: Build with Maven

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: mvn -B clean package --file pom.xml
      - name: Archive artifact
        uses: actions/upload-artifact@v2.2.0
        with:
          name: "gCV-Bridge"
          path: "target/gCV-Bridge-*.jar"
          if-no-files-found: error
